
@{
    ViewBag.Title = "Index";
}

<h2>File List</h2>

<div ng-controller="fileController as fileCtrl" ng-cloak>
    <button class="btn-link" type="button" ng-click="fileCtrl.uploadNew()">Upload</button>
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in fileCtrl.items">
                <td>{{item.fileName}}</td>
                <td>{{item.size}}</td>
                <td>{{item.type}}</td>
                <td><img ng-src="{{item.systemFileName}}" alt="{{item.fileName}}" ng-click="fileCtrl.showImage($event)" height="32" /></td>
                <td>
                    <button class="btn-link" type="button" ng-click="fileCtrl.delete(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
    @Scripts.Render("~/bundles/filectrl")
}