
@{
    ViewBag.Title = "Index - CKEditor Example";
}

<h2>CKEditor Example</h2>
<hr />
<div class="container">
    <p id="editorContent" style="font-size: 25px"></p>
</div>

@section scripts {

    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

}