
@{
    ViewBag.Title = "Index";
}

<div class="page-header"></div>
<h2>People</h2>
<div class="container">
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First</th>
                <th>Middle</th>
                <th>Last</th>
                <th>DOB</th>
                <th>Created</th>
                <th>Modified</th>
                <th>By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Victor</td>
                <td>Manuel</td>
                <td>Campos</td>
                <td>03/26/1969</td>
                <td>8/21/2017</td>
                <td>8/21/2017</td>
                <td>Vic</td>
                <td>
                    <button type="button" onclick="javascript:alert('saved')">Save</button>
                    <button type="button" onclick="javascript:alert('deleted')">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

