
@{
    ViewBag.Title = "Index";
}

@*This creates space at top - something different in the lastest bootstrap*@
<div class="page-header"></div>
<div class="container" ng-controller="personController as personCtrl" ng-cloak>
    <h2>People</h2>
    <button class="btn-link" type="button" ng-click="personCtrl.create()">Create</button>
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>First</th>
                <th>Middle</th>
                <th>Last</th>
                <th>DOB</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in personCtrl.items">
                <td>{{item.firstName}}</td>
                <td>{{item.middleName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.dob | date}}</td>
                <td>
                    <button class="btn-link" type="button" ng-click="personCtrl.edit(item)">Edit</button>
                    <button class="btn-link" type="button" ng-click="personCtrl.delete(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
    @Scripts.Render("~/bundles/personCtrl")  
}